{% extends 'base.html' %}
{% load static %}
{% block content %}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title">Payment<h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Checkout</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Payment</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="cart">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-lg-8">

                                <div class="card border-warning mb-1">
                                    <h5 class="card-title mt-3">Billing Address</h5>
                                    <div class="card-body">
                                      <p class="card-text">{{order.get_full_name}}</p>
                                      <p class="card-text">{{order.get_full_address}}</p>
                                      <p class="card-text">{{order.email}}</p>
                                      <p class="card-text">{{order.phone}}</p>
                                      <p class="card-text">{{order.country}}</p>
                                      <p class="card-text">{{order.state}}</p>
                                    </div>
                                </div>
                                <div class="card border-warning mb-1">
                                    <h5 class="card-title mt-3">Payment Method</h5>
                                    <div class="card-body">
                                      <p class="card-text">Paypal.</p>
                                    </div>
                                </div>
                                <div class="card border-warning mb-3">
                                    <h5 class="card-title mt-3">Review Product</h5>
                                    <div class="card-body">

                                    {% for cart_item in cart_items %}
                                        <tr>
                                            <td class="product-col">
                                                <h3 class="product-title">
                                                    <a href="#">{{cart_item.product.title}}</a>
                                                </h3><!-- End .product-title -->
                                            </td>
                                            <td class="price-col">${{cart_item.product.price}}</td>
                                            <td class="quantity-col">
                                                <div class="cart-product-quantity">
                                                    <input type="number" class="form-control" value="{{cart_item.product.qty_product}}" min="1" max="10" step="1" data-decimals="0" required>
                                                </div><!-- End .cart-product-quantity -->
                                            </td>
                                            <td class="total-col">${{cart_item.get_total_cart_item_price}}</td>
                                            <td class="remove-col"><a href="{% url 'delete_cart_item' cart_item.product_id %}" class="btn-remove"><i class="icon-close"></i></a></td>
                                        </tr>
                                    {% endfor %}

                                    </div>
                                </div>

                                
	                		</div><!-- End .col-lg-9 -->
	                		<aside class="col-lg-4">
	                			<div class="summary summary-cart">
	                				<h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

	                				<table class="table table-summary">
	                					<tbody>
	                						<tr class="summary-subtotal">
	                							<td>Subtotal:</td>
	                							<td>${{total}}</td>
	                						</tr><!-- End .summary-subtotal -->
											<tr class="summary-subtotal">
	                							<td>Tax:</td>
	                							<td>${{tax}}</td>
	                						</tr><!-- End .summary-subtotal -->

	                						<tr class="summary-shipping-estimate">
	                							<td>Estimate for Your Country<br> <a href="{% url 'edit_profile' user.id %}">Change address</a></td>
	                							<td>&nbsp;</td>
	                						</tr><!-- End .summary-shipping-estimate -->

	                						<tr class="summary-total">
	                							<td>Bill:</td>
	                							<td>${{total_amount}}</td>

                  						</tr><!-- End .summary-total -->
	                					</tbody>
	                				</table><!-- End .table table-summary -->

	                				<a href="{% url 'checkout' %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
	                			</div><!-- End .summary -->

		            			<a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
	                		</aside><!-- End .col-lg-3 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .cart -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock content %}
